body {
    background-color: rgb(13, 211, 152);
}

.mh-skills .mh-professional-skill {
    padding-right: 60px;
    color: rgb(199, 18, 18);
}

.mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mh-professional-skills {
    padding-left: 20%;
}

.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 38px;
    text-align: center;
}

.mh-progress {
    margin-bottom: 10px;
    font: 900 1.14285/1;
    color: white;
}
